/* SIDEBAR */

.sidebar-container {
    display: flex;
    gap: 1rem;
}

.header-container {
    color: rgb(91, 58, 235);
    height: auto;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: 1rem;
}

.logo-container-collapse {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 80px;
    height: 40px;
}

.logo-collapse {
    width: 40px;
    height: 40px;
}

.logo-label {
    text-decoration: none;
    color: rgb(91, 58, 235);
}

.logo-label:hover {
    color: rgb(55, 11, 252);
    font-weight: 900;
    transition: all linear ease-in-out 2s;
}

.header-menu {
    color: rgb(91, 58, 235);
    font-size: 1rem;
    font-weight: 600;
}

.header-menu-collapse {
    color: rgb(91, 58, 235);
    font-size: 1rem;
    font-weight: 600;
    margin-left: .5rem;

}

.header-toggle {
    text-align: right;
    border-radius: 50%;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 17.5rem;
    top: 4.3rem;
    z-index: 999;
    cursor: pointer;
}

.header-toggle:hover {
    background-color: rgb(91, 58, 235);
    color: white;
    transition: ease-in-out .8s;
}

.header-toggle-collapse {
    text-align: right;
    border-radius: 50%;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 3.7rem;
    top: 3.7rem;
    z-index: 999;
    cursor: pointer;
    color: rgb(91, 58, 235);
}

.header-toggle-collapse:hover {
    background-color: rgb(91, 58, 235);
    color: white;
    transition: ease-in-out .8s;
}

/* HOME--CRYPTO HORN */
.spinner-icon {
    text-align: center;
    margin-top: 5rem;
    margin-left: 5rem;
}

.home-container {
    margin: 1rem;
    width: 100%;
}

.home-heading {
    color: rgb(91, 58, 235);
}

.stats-container {
    border-radius: 25px;
    border: 1px solid rgb(91, 58, 235);
    padding: 2rem;
    margin-top: 1rem;
}

.stats-sub-container {
    padding: 1rem;
}

.cryptocurrency-container {
    border-radius: 25px;
    border: 1px solid rgb(91, 58, 235);
    padding: 1.5rem;
    margin-top: 3rem;
}

.cryptocurrency-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cryptocurrency-container-title {
    color: #5b3aeb;
}

.cryptocurrency-container-show {
    display: flex;
    gap: .5rem;
    color: black;
    text-decoration: none;
    outline: none;
}

.cryptocurrency-container-show:hover {
    color: #5b3aeb;
    transition: all ease-in-out .6s;
}


/* Cryptocurrency */
.crypto-currency-container {
    margin: 2rem;
    width: 100%;
}

.crypto-card {
    max-width: 60rem;
}

.crypto-image {
    width: 30px;
    height: 30px;
}

.single-card {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 16rem;
}

.single-card-description {
    display: flex;
    gap: 10px;
    margin-bottom: .5rem;
}

.crypto-search {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    max-width: 20rem;
    margin: 1rem 0;
    border-radius: 25px;
}

/* Cryptocurrency Details */
.coin-detail-container {
    border-radius: 25px;
    border: 1px solid rgb(91, 58, 235);
    padding: 1.5rem;
    margin: 1rem;
}

.coin-detail-heading {
    font-size: 2rem;
    color: #5b3aeb;
}

.coin-detail-heading small {
    font-size: 1rem;
}

.coin-image-container {
    display: flex;
    margin-top: 1rem;
    gap: 1.5rem;
}

.coin-image-container img {
    max-width: 5rem;
    max-height: 5rem;
}

.coin-image-container p {
    margin-top: .5rem;
    font-weight: 600;
}

.select-time-period {
    width: 10rem;
    margin-top: .5rem;
}

.stats-data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1rem;
}

.stats-heading {
    padding: 1rem;
    margin-top: 2rem;
}

.stats-heading-name {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.stats-heading-name small {
    font-size: .9rem;
}

.stats-data-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    padding: 1rem;
}

.stats-data-sub-container:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .4s;
    cursor: pointer;
    background-color: #fff;
}

.stats-data-sub-container-heading {
    font-weight: 600;
    color: #5b3aeb;
}

.stats-title {
    margin-left: .7rem;
}

.stats-numbers {
    font-weight: bolder;
}

.links-container {
    display: flex;
    justify-content: right;
    margin: 1rem;
}

/* Show Chart */

.chart-container {
    border: 1px solid rgb(91, 58, 235);
}

.chart-heading {
    font-size: 1rem;
    text-align: center;
}

.chart-price-container {
    display: flex;
    flex-direction: column;
    justify-content: right;

}

.price-change {
    font-size: 1rem;
}

.news-data-container {
    margin-top: 2rem;
}

.news-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem;
    min-height: 20rem;
    max-width: 20rem;
    border: none;
}

.news-description {
    color: #472cbd;
    font-size: .7rem;
}

.news-title {
    color: black;
    font-weight: 900;
}

@media (max-width: 550px) {
    .stats-data-sub-container {
        gap: 1rem;
    }
}